.notice {
	font-size: clamp(12px, 2vw, 14px);
	text-align: center;
	margin: 15px 0;
	border-radius: 25px;
	// background-color: rgba(0, 0, 0, 0.05);
	// box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	padding: 0.5em;
}
